<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>天点</title>
<link rel="stylesheet" href="css/index.css">
<!-- <script type="text/javascript" src="resources/static/admin/js/laydate/laydate.js"></script> -->
<script type="text/javascript" src="js/laydate/laydate.js"></script>
<script type="text/javascript" src="js/nodom-full.js"></script>
<script type="text/javascript" src="js/appconfig.js"></script>
<script type="text/javascript" src="js/moduleZh.js"></script>
<link rel="stylesheet" type="text/css" href="css/base.css"/>
<link rel="stylesheet" type="text/css" href="css/permission_list.css"/>

</head>
<body>
	<div id="app">
		<!--路由-->
		<div x-router class="height-all">
		</div>
	</div>
</body>
<script type="text/javascript" src="js/index.js"></script>

</html>