<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/nodom-full.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/rest_pass.css"/>
	</head>
	<body>
		<div class="login_box">
			<div class="rest_tit">
				重置密码
			</div>
			<div class="login_meg rest_tip mt_20">
				输入您的新密码
			</div>
			<div class="login_meg mt_20">
				<input type="text" name="" placeholder="密码" value="" class="login_ipt"  x-field='password'/>
				<img class="user_icon" src="css/imgs/passIcon.png"/>
			</div>
			<div class="login_meg mt_20">
				<input type="password" name="" placeholder="确认密码" value="" class="login_ipt" x-field='con_password'/>
				<img class="user_icon" src="css/imgs/passIcon.png"/>
			</div>
			<div class="login_meg mt_20">
				<input type="button" value="重置密码" class="sure_btn" e-click='rest_pass'/>
				<img class="rgt_icon" src="css/imgs/right_icon.png"/>
			</div>
			<div class="login_meg agin_login mt_20">
				<a href="login.html">重新登陆</a>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var DATAURL = '';
		DD.createModule({
			el:'.login_box',
			data:{
				password:'',
				con_password:''
			},
			methods:{
				rest_pass:function(){
					var me = this;
					if(!me.data.password){
						alert('请输入密码')
					} else if(!me.data.con_password){
						alert('请输入确认密码')
					} else if(me.data.password != me.data.con_password){
						alert('两次输入密码不一致')
					} else {
						DD.request({								
							url:'http://192.168.5.165:55',			
							params: {},
							reqType:'GET',
							type:'json',
							async:true,
							/*设置1秒超时*/
							timeout:1000,
							/*请求成功回调*/
							successFunc:function(r){
								
							},
							/*请求失败回调*/
							errorFunc:function(r){
								console.log(r);
							},
							/*请求超时回调*/
							timeoutFunc:function(r){
								console.log("系统超时");
							}
						});
					}
				},
			}
		});
	</script>
</html>
