<div id="shop" class="con_sty">
	<div class="body_box">
		<div class="sear_box">
			<button class="radius btn_sty" e-click='add_goods'>新增</button>
			<button class="radius btn_sty">导出</button>
			<div class="con-rgt">
				<span class="select-box inline radius">
					<select name="" class="select"  x-field='state'>
						<option value="" selected = "selected">状态</option>
						<option x-repeat='select1_numes' value="{{id}}">{{name}}</option>
					</select>
				</span>
				<span class="select-box inline radius">
					<select name="" class="select" x-field='classification1'>
						<option value="" selected = "selected">商品种类</option>
						<option x-repeat='classification' value="{{commodityCateId}}">{{commodityCateName}}</option>
					</select>
				</span>

				<input type="text" name="" id="" placeholder="商品名称" class="input-text ml_10 radius sea_ipt" x-field="goodsName">
				<input type="button" name="" id="" class="sear_btn radius" value="" e-click="search" />
			</div>
		</div>
		<div class="mt_20 tab_box">
			<table class="">
				<thead>
					<tr class="text-c">
						<th>序号</th>
						<th>商品编号</th>
						<th>商品名称</th>
						<th>商品简介</th>
						<th>商品分类</th>
						<th>图片</th>
						<th>成本价</th>
						<th>建议售价</th>
						<th>赠送点分</th>
						<th>规格</th>
						<th>净含量</th>
						<th>备注</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody x-if="sum_data == 0">
	                <tr>
	                    <th class="com-no-data" colspan="14">暂无数据</th>
	                </tr>
                </tbody x-else>
				<tbody>
					<tr class="text-c" x-repeat='goods_list'>
						<td>{{$index+1}}</td>
						<td>{{commodityId}}</td>
						<td>{{commodityName}}</td>
						<td>{{commodityDesc}}</td>
						<td>{{classificationStr}}</td>
						<td class="img_td" e-mouseover='see_img' e-mouseout='close_see'>预览 
							<span class="god_sp" >
								<img src="{{imageResource.url}}"/>
							</span>
						</td>
						<td>{{price}}(元)</td>
						<td>{{specification}}</td>
						<td>{{price}}(元)</td>
						<td>{{specification}}</td>
						<td>{{content}}</td>
						<td>{{commodityDesc}}</td>
						<td>{{isDeleteStr}}</td>
						<td>
							<div class="ope_img" e-click='edi_tc'></div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="radius" id="addGoods_box" x-show='open'>
				<div class="oper_tit">
					{{oper_tit}}
				</div>
				<div class="row_sty">
					<div class="row_left">
						<span class="tit_left">商品分类:</span>
						<span class="select-add inline radius">
						<select name="" class="select" x-field='classification2'>
							<option value="" selected="">请选择...</option>
							<option x-repeat='classification' value="{{commodityCateId}}">{{commodityCateName}}</option>
						</select>
					</span>
					</div>
					<div class="row_rgt">
						<span class="tit_left">状态:</span>
						<span class="select-add inline radius">
						<select name="" class="select" x-field='enabled'>
							<option value="" disabled="disabled" selected = "selected">状态</option>
							<option value="0">启用</option>
							<option value="1">禁用</option>
						</select>
					</span>
					</div>
				</div>
				<div class="row_sty">
					<div class="row_left">
						<span class="tit_left">商品名称:</span>
						<span class="cen_box">
						<input type="text" name="" id="" e-click='changeInput' x-field='commodityName' placeholder="商品名称" class="input-text ipt_wit radius">
					</span>
					</div>
					<div class="row_rgt">
						<span class="tit_left">价格:</span>
							<span class="cen_box">
							<input type="text" name="" id="" placeholder="价格等于点币价加点币" x-field='price' class="input-text ipt_wit radius">
						</span>
					</div>
				</div>
				<div class="row_sty">
					<div class="row_left">
						<span class="tit_left">成本价:</span>
						<span class="cen_box">
						<input type="text" name="" id="" placeholder="成本价" class="input-text ipt_wit radius">
					</span>
					</div>
					<div class="row_rgt">
						<span class="tit_left">赠送点分:</span>
							<span class="cen_box">
							<input type="text" name="" id="" placeholder="赠送点分" class="input-text ipt_wit radius">
						</span>
					</div>
				</div>
				<div class="row_sty">
					<div class="row_left">
						<span class="tit_left">点币价:</span>
						<span class="cen_box">
							<input type="text" name="" id="" placeholder="价格等于点币价加点币" x-field='biPrice' class="input-text ipt_wit radius">
						</span>
					</div>
					<div class="row_rgt">
						<span class="tit_left">点币:</span>
						<span class="cen_box">
						<input type="text" name="" id="" placeholder="价格等于点币价加点币" x-field='dianBi' class="input-text ipt_wit radius">
					</span>
					</div>
				</div>
				
				<div class="row_sty">
					<div class="row_left">
						<span class="tit_left">规格:</span>
						<span class="cen_box">
						<input type="text" name="" id="" placeholder="规格" x-field='specification' class="input-text ipt_wit radius">
					</span>
					</div>
					<div class="row_rgt">
						<span class="tit_left">净含量:</span>
						<span class="cen_box">
						<input type="text" name="" id="" placeholder="净含量" x-field='content' class="input-text ipt_wit radius">
					</span>
					</div>
				</div>
				<div class="row_sty">
					<div class="row_left">
						<span class="tit_left">库存:</span>
						<span class="cen_box">
						<input type="text" name="" id="" placeholder="库存" x-field='stocks' class="input-text ipt_wit radius">
					</span>
					</div>
					<div class="row_rgt">
						<span class="tit_left">保存环境:</span>
						<span class="cen_box">
							<input type='checkbox' id="tem" class="chek_ipt" x-field='tem' yes-value='1' no-value=''/>常温
							<input type='checkbox' id="cold" class="chek_ipt" x-field='cold' yes-value='2' no-value=''/>冷柜
							<input type='checkbox' id="hot" class="chek_ipt" x-field='hot' yes-value='3' no-value=''/>热柜
						</span>
					</div>
				</div>
				<div class="row_sty">
					<span class="tit_left">图片:</span>
					<label class="upload-img">
					+ 上传图片
					<input type="file" id="file_input" accept='image/*' e-change='UploadImg'/> 
				</label>
					<div class="img-showbox" x-show='img_up'>
						<img src='{{imageResources}}'>
					</div>
				</div>
				<div class="row_sty">
					<span class="tit_left">描述:</span>
					<textarea type="text" name="" id="" x-field='commodityDesc' placeholder="描述" class="input-text te_wit radius"></textarea>
				</div>
				<div class="row_sty">
					<div class="addGods_btn">
						<button class="radius btn_sty_can" e-click='close_goods'>取消</button>
						<button class="radius btn_sty btn_sure" x-show='add_open' e-click='add_gods'>保存</button>
						<button class="radius btn_sty btn_sure" x-show='edi_open' e-click='edi_gods'>保存</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pag_box bod_top">
		<input type="button" class="pag_btn ml_30" name="" id="" value="上一页" e-click='up_page' />
		<span class="pag_sp ml_10">{{pages}}/{{sum_pages}}</span>
		<input type="button" class="pag_btn ml_10" name="" id="" value="下一页" e-click='down_page' />
		<span class="sum_data">共有数据：<strong> {{sum_data}}</strong> 条</span>
	</div>
	<div class="tips_sta" x-show='tip_open'>
		<div class="tip_icon" x-class="{'icon_suc':'icon_tip>=2','icon_den':'icon_tip<=1'}"></div>
		{{tips_tit}}
	</div>
</div>